:root {
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100svh;
}

/* Clock Styles */

.clock {
  margin: 50px auto;
  width: 18rem;
  height: 18rem;
  border: 10px solid white;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 2em;

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(
      -3px
    ); /* accounts for the height of the clock hands */
  }

  .hand {
    width: 50%;
    height: 8px;
    background-color: white;
    position: absolute;
    top: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.1s;
  }
}

@media (min-width: 500px) {
  .clock {
    width: 25rem;
    height: 25rem;
    border: 13px solid white;
  }

  .hand {
    height: 9px;
  }
}

@media (min-width: 700px) {
  .clock {
    width: 33rem;
    height: 33rem;
    border: 15px solid white;
  }

  .hand {
    height: 11px;
  }
}
